# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entorno virtual
venv/

# Variables de entorno
.env

# Base de datos SQLite
*.db
*.sqlite
*.sqlite3

# Archivos temporales
*.tmp
*.log

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db